Tokenize words and add POS tags

In [2]:
import nltk
from nltk.corpus import stopwords
from nltk.corpus import brown
import csv
import pandas as pd

In [20]:
nltk.download('punkt_tab')
nltk.download('brown')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/ellynkeith/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [3]:
data = pd.read_csv('m_500.csv')
data.columns = ['word', 'sim']

In [12]:
data.head()

        word       sim
0  gentleman  0.659480
1        man  0.572143
2         he  0.554197
3        him  0.547101
4        boy  0.540706

In [2]:
# data = [line.split(",") for line in data[1:]]
# words = [[line[0][1:-1],line[1]] for line in data]

In [4]:
brown = set(nltk.corpus.brown.tagged_words())

In [5]:
tokens = [(nltk.word_tokenize(row['word']), row['sim']) for _, row in data.iterrows()]

In [6]:
tokens[:10]

[(['gentleman'], 0.659480428897119),
 (['man'], 0.572143010039916),
 (['he'], 0.55419732960785),
 (['him'], 0.547100530853242),
 (['boy'], 0.540706008024567),
 (['his'], 0.480457085316888),
 (['woman'], 0.446248534068209),
 (['man', ','], 0.434858546619829),
 (['she'], 0.417623341132212),
 (['her'], 0.417037075617655)]

In [7]:
flat_tokens = []
for (word, distance) in tokens:
    try:
        token = (word[0], distance)
        flat_tokens.append(token)
    except IndexError:
        print(word, distance)
        pass

In [8]:
len(flat_tokens)

500

In [9]:
for (w, distance) in flat_tokens[:3]:
    print(w,distance)

gentleman 0.659480428897119
man 0.572143010039916
he 0.55419732960785

In [10]:
tagged_words = []
for (word, tag) in brown:
    for (w, distance) in flat_tokens:
        try:
            if w == word:
                tagged_words.append((word, tag, distance))
        except:
            print(w)

In [11]:
tagged_words[:10]

[('in', 'RP-HL', 0.302935017515629),
 ('fellow', 'NN', 0.248888149654018),
 ('fellow', 'NN', 0.186680842175671),
 ('courtesan', 'NN', 0.205116103525331),
 ('courtesan', 'NN', 0.183976246000486),
 ('as', 'RB', 0.26821155534825),
 ('quiet', 'JJ', 0.181728608945134),
 ('one', 'CD-NC', 0.215459599893373),
 ('widower', 'NN', 0.17595392769303),
 ('manor', 'NN', 0.191497171965497)]

In [12]:
tagged_words.sort(key=lambda tup: tup[2], reverse=True)

In [13]:
len(tagged_words)

642

In [94]:
with open("clean_data/m_words_clean.csv", "w") as csv_file:
        writer = csv.writer(csv_file, delimiter=',')
        for line in set(tagged_words):
            writer.writerow(line)

In [51]:
376*2

752