In [1]:
import csv
import pandas as pd
import statistics as stats
import re

In [2]:
with open("plot_summaries.txt") as f:
    summaries = f.readlines()

In [3]:
print(type(summaries[0]))

<class 'str'>

In [5]:
summary_word_lengths = [len(text.split()) for text in summaries]

In [6]:
def get_averages(text):
    mean = stats.mean(text)
    median = stats.median(text)
    mode = stats.mode(text)
    grouped = stats.median_grouped(text)
    return {'mean': mean, 'median' : median, 'mode' : mode, 'median grouped' : grouped}

In [7]:
averages = get_averages(summary_word_lengths)
averages

{'mean': 311.7183614617312,
 'median': 188.0,
 'median grouped': 187.68072289156626,
 'mode': 66}

In [8]:
text = []
counts = []
for i in range(len(summaries)):
    if 300 < summary_word_lengths[i] < 400:
        text.append(summaries[i])
        counts.append(summary_word_lengths[i])
        
get_averages(counts)

{'mean': 348.2699631449631,
 'median': 347.0,
 'median grouped': 347.1774193548387,
 'mode': 327}

In [5]:
summaries[97]

"9031450\tA young woman named Hyun-chae is on train looking through an art book. As she turns the pages, she discovers a written message underneath a picture of bears playing together in the springtime. She reads: I like you so much. Like a bear in springtime, I know your secrets ... you're like a lovely bear. This is just the beginning of my love for you. Next book is Gustave Caillebette 'Young Man at His Window. Hyun-chae is an unlucky girl who has trouble finding love. Born with bad manners, she is unable to keep a guy for very long. Throughout her life, she has been unsuccessful with love, but goes on through life with her bad manners and pure honesty. Her father, an alcoholic, a heavysmoker, and a writer, often counts on Hyun-chae to bring him art books from the library, saying that they help him think better. Hyun-chae, desperate as she is to fall in love, fails to see that her best friend from childhood, Dong-ha came back from the military to be with her. Instead, Chae-hyun becomes obsessed with the man that has written the love notes inside the art books, believing that they are meant for her. With this thought in mind, she seeks out the writer with a determined state of mind, believing that every man she meets could possibly be this mere stranger. But are those library love notes really meant for her?\n"

In [6]:
## read in original metadata
char_data = pd.DataFrame.from_csv('character.metadata.tsv', sep='\t', header = None, index_col = None)
film_data = pd.DataFrame.from_csv('movie.metadata.tsv', sep = '\t', header = None, index_col = None)

In [12]:
char_data.rename(columns = {0:"film_id"})
char_data[char_data.film_id.isin([9031450])]

       0          1           2                           3           4  5   \
0  975900  /m/03vyhn  2001-08-24                    Akooshay  1958-08-26  F
1  975900  /m/03vyhn  2001-08-24  Lieutenant Melanie Ballard  1974-08-15  F
2  975900  /m/03vyhn  2001-08-24         Desolation Williams  1969-06-15  M
3  975900  /m/03vyhn  2001-08-24          Sgt Jericho Butler  1967-09-12  M
4  975900  /m/03vyhn  2001-08-24             Bashira Kincaid  1977-09-25  F

      6           7                   8     9           10          11  \
0  1.620         NaN      Wanda De Jesus  42.0  /m/0bgchxw  /m/0bgcj3x
1  1.780  /m/044038p  Natasha Henstridge  27.0   /m/0jys3m  /m/0bgchn4
2  1.727     /m/0x67            Ice Cube  32.0   /m/0jys3g  /m/0bgchn_
3  1.750         NaN       Jason Statham  33.0  /m/02vchl6  /m/0bgchnq
4  1.650         NaN         Clea DuVall  23.0  /m/02vbb3r  /m/0bgchp9

           12
0  /m/03wcfv7
1   /m/0346l4
2  /m/01vw26l
3   /m/034hyc
4   /m/01y9xg

AttributeError: 'DataFrame' object has no attribute 'film_id'

In [5]:
char_data.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg

In [31]:
## drop irrelevant columns and rows with NaN
char_data = char_data.drop([1,4,6,7,10,11,12], axis = 1)
char_data = char_data.dropna()
len(char_data.index)

133378

In [7]:
char_data.head(5)

        0           2                           3  5                   8     9
0  975900  2001-08-24                    Akooshay  F      Wanda De Jesus  42.0
1  975900  2001-08-24  Lieutenant Melanie Ballard  F  Natasha Henstridge  27.0
2  975900  2001-08-24         Desolation Williams  M            Ice Cube  32.0
3  975900  2001-08-24          Sgt Jericho Butler  M       Jason Statham  33.0
4  975900  2001-08-24             Bashira Kincaid  F         Clea DuVall  23.0

In [12]:
len(film_data.index)

81741

In [58]:
film_data = film_data.drop([1,4,5,8], axis = 1)
film_data = film_data.dropna()
len(film_data.index)

74839

In [32]:
## function to convert film release dates to year only
def get_film_year(string):
    try:
        year = re.search(r"\d{4}",string)
        return year[0]
    except TypeError:
        pass

In [33]:
## relabel columns with more useful mames
char_data.rename(columns = {0:"film_id", 2:"film_release_date", 3:"char_name",5:"actor_gender",8:"actor_name",9:"actor_age"}, inplace = True)

In [21]:
char_data.head(5)

,film_id,film_release_date,char_name,actor_gender,actor_name,actor_age
0,975900,2001-08-24,Akooshay,F,Wanda De Jesus,42.0
1,975900,2001-08-24,Lieutenant Melanie Ballard,F,Natasha Henstridge,27.0
2,975900,2001-08-24,Desolation Williams,M,Ice Cube,32.0
3,975900,2001-08-24,Sgt Jericho Butler,M,Jason Statham,33.0
4,975900,2001-08-24,Bashira Kincaid,F,Clea DuVall,23.0

In [34]:
## convert film releasr dates to years
char_data["film_release_date"] = char_data["film_release_date"].apply(get_film_year)
char_data

,film_id,film_release_date,char_name,actor_gender,actor_name,actor_age
0,975900,2001,Akooshay,F,Wanda De Jesus,42.0
1,975900,2001,Lieutenant Melanie Ballard,F,Natasha Henstridge,27.0
2,975900,2001,Desolation Williams,M,Ice Cube,32.0
3,975900,2001,Sgt Jericho Butler,M,Jason Statham,33.0
4,975900,2001,Bashira Kincaid,F,Clea DuVall,23.0
5,975900,2001,Commander Helena Braddock,F,Pam Grier,52.0
6,975900,2001,Whitlock,F,Joanna Cassidy,56.0
8,975900,2001,Michael Descanso,M,Liam Waite,30.0
11,975900,2001,Tres,M,Rodney A. Grant,42.0
12,975900,2001,McSimms,M,Peter Jason,57.0
14,975900,2001,Benchley,M,Doug McGrath,66.0
15,975900,2001,Rodale,M,Robert Carradine,47.0
18,3196793,2000,Reporter,F,Alice Barrett,43.0
21,3196793,2000,FBI Profiler Robert Hanks,M,Robert Catrini,50.0
22,3196793,2000,John Ramsey,M,Cliff DeYoung,55.0
24,3196793,2000,Patsy Ramsey,F,Judi Evans,35.0
25,3196793,2000,JonBenet Ramsey,F,Julia Granstrom,6.0
56,2314463,2006,Taper Guy,M,Matt Stone,34.0
76,612710,1999,Sandii,F,Asia Argento,24.0
77,612710,1999,Fox,M,Christopher Walken,56.0
80,612710,1999,Madame Rosa,F,Annabella Sciorra,39.0
100,156558,2001,Yvette,F,Taraji P. Henson,30.0
101,156558,2001,Jody,M,Tyrese Gibson,22.0
107,156558,2001,Host,F,Kym Whitley,40.0
108,156558,2001,Elderly Woman,F,Amentha Dymally,66.0
119,156558,2001,Rodney,M,Snoop Dogg,29.0
121,156558,2001,Sneed,M,Keith Diamond,39.0
125,156558,2001,Patrice,F,Mo'Nique Imes-Jackson,33.0
129,156558,2001,Sharika,F,Tracey Cherelle Jones,30.0
131,156558,2001,Kim,F,Angell Conwell,17.0
...,...,...,...,...,...,...
450560,6456053,1964,Assistant Car Salesman,M,Lance Percival,31.0
450561,6456053,1964,Norwood,M,Roland Culver,64.0
450562,6456053,1964,Harnsworth,M,Michael Hordern,53.0
450565,22330502,1931,Yvonne Valbret,F,Greta Garbo,25.0
450585,24997872,2010,Raja,M,Mammootty,58.0
450586,24997872,2010,Surya,M,Prithviraj Sukumaran,27.0
450587,24997872,2010,Aswathy,F,Shriya Saran,27.0
450616,22545667,1932,Miss Joy,F,Wyn Richmond,25.0
450621,22545667,1932,Tough Man In Street,M,Charles Farrell,31.0
450622,22545667,1932,Dancer,M,Richard Murdoch,24.0
450623,22545667,1932,Boy,M,Johnny Singer,8.0
450629,30553937,1998,Jack,M,Edward Kerr,31.0
450630,30553937,1998,Anne Henning,F,Traylor Howard,31.0
450631,30553937,1998,Tracy,F,Lauren Graham,30.0
450632,30553937,1998,Troy,M,Michael Trucco,27.0
450633,30553937,1998,Marty,M,Sal Viscuso,49.0
450634,30553937,1998,Shelley,F,Anneliza Scott,32.0
450635,30553937,1998,Steve,M,Steve Monarque,38.0
450639,30553937,1998,Julia,F,Natalie Ramsey,22.0
450651,913762,1992,Mesena,M,Isshin Chiba,23.0
450652,913762,1992,Hibiki,M,Tsutomu Takayama,22.0
450653,913762,1992,Ishtar,F,笠原弘子,22.0
450654,913762,1992,Sylvie,F,Yumi Tōma,25.0
450655,913762,1992,Exegran,M,Yoshisada Sakaguchi,52.0
450657,913762,1992,Maj. Nexx,M,Steven Blum,32.0
450658,913762,1992,Lord Feff,M,Steven Blum,32.0
450660,913762,1992,Additional Voices,M,Sonny Byrkett,38.0
450661,913762,1992,UN Spacy Commander,M,Sonny Byrkett,38.0
450662,913762,1992,Silvie Gena,F,Susan Byrkett,34.0
450665,913762,1992,Hibiki,M,Jonathan Fahn,27.0

In [35]:
char_data = char_data.sort_values(by = "film_release_date")
len(char_data.index)

133378

In [24]:
char_data

,film_id,film_release_date,char_name,actor_gender,actor_name,actor_age
132703,5954041,1908,Dorothy Gale,F,Romola Remus,8.0
280213,73413,1909,Farmer's Little Daughter,F,Gladys Egan,4.0
26342,6735825,1909,The Catholic's Child,F,Edith Haldeman,4.0
383795,4210812,1910,Dorothy Gale,F,Bebe Daniels,9.0
383801,4210812,1910,Glinda,M,Olive Cox,-81.0
47438,7253379,1911,"George IV, The Child King",F,Marie Eline,9.0
180359,7253646,1911,The Little Daughter,F,Marie Eline,9.0
445290,7253406,1911,The Youngster,F,Marie Eline,9.0
387696,7257285,1912,The Poor Couple's Daughter,F,Marie Eline,10.0
266245,24463054,1912,Little Trixie Thompson,F,Magda Foy,6.0
297956,6149842,1912,Jack's pal,M,William R. Dunn,-76.0
326127,7259226,1912,The Child,F,Helen Badgley,3.0
354268,19236804,1912,Nicola,F,Helene Costello,6.0
221295,7225922,1912,Pepita - the Street Singer,F,Adelaide Lawrence,7.0
327602,9200786,1913,Anna Carney,F,Adelaide Lawrence,8.0
92519,17455134,1914,Sua moglie,F,Tilde Teldi,-63.0
195687,5384890,1914,"Button-Bright, who is lost and doesn't care",F,Mildred Harris,12.0
195679,5384890,1914,The Scarecrow,M,Frank Moore,-31.0
405482,7422491,1914,"Frank, son of Mary and Walter, age 5",M,Albert Cavens,7.0
97902,22643138,1915,Gonda Berna,M,Martijn de Vries,2.0
334089,14090753,1915,Little Sister,F,Doris Baker,7.0
101478,13434802,1915,The Widow's Little Daughter,F,Zoe Rae,4.0
377605,14627416,1915,Nora,F,Annette O'Toole,-36.0
97903,22643138,1915,Gonda Berna,F,Hesje de Vries,6.0
30122,19200197,1916,Mary Lane,F,Mary Miles Minter,13.0
180109,19200075,1916,Dimples,F,Mary Miles Minter,13.0
297405,19199996,1916,Nell Drogan,F,Mary Miles Minter,13.0
416332,8049439,1916,Dulcie,F,Mary Miles Minter,14.0
159011,20198133,1916,Child,M,Ettore Casarotti,4.0
354349,4765789,1916,One of the Children,F,Ethelmary Oakland,7.0
...,...,...,...,...,...,...
202181,35627063,2013,Gutsy Smurf,M,Alan Cumming,48.0
202184,35627063,2013,Blackout,M,Brandon T. Jackson,29.0
202185,35627063,2013,Hackus,M,J. B. Smoove,48.0
202186,35627063,2013,Flack,M,Lil Wayne,30.0
253367,32857390,2013,Miranda Prague,F,Michelle Trachtenberg,27.0
202179,35627063,2013,Vladamir,M,Christopher Mintz-Plasse,24.0
202178,35627063,2013,Clumsy Smurf,M,Anton Yelchin,24.0
202177,35627063,2013,Vexy,F,Christina Ricci,33.0
222956,36534974,2014,Young Noah,M,Dakota Goyo,14.0
222954,36534974,2014,Methuselah,M,Anthony Hopkins,76.0
222953,36534974,2014,Naameh,F,Jennifer Connelly,43.0
222952,36534974,2014,Ham,M,Logan Lerman,22.0
222951,36534974,2014,Shem,M,Douglas Booth,21.0
222949,36534974,2014,Noah,M,Russell Crowe,49.0
222948,36534974,2014,Ila,F,Emma Watson,23.0
222959,36534974,2014,Na'el,F,Madison Davenport,17.0
222960,36534974,2014,Poacher Leader,M,Barry Sloane,33.0
90170,32416903,2015,Varun Nayak,M,Aftab Shivdasani,36.0
111581,2312141,2015,KARR,M,Peter Cullen,73.0
111582,2312141,2015,KITT,M,William Daniels,87.0
263067,25813358,2015,Neytiri,F,Zoe Saldana,36.0
111583,2312141,2015,Michael Knight,M,David Hasselhoff,62.0
111584,2312141,2015,Michael Knight's son,M,Orlando Bloom,37.0
90175,32416903,2015,Kabir Nayak,M,Sanjay Dutt,55.0
263065,25813358,2015,Dr. Grace Augustine,F,Sigourney Weaver,65.0
318592,23124260,2016,Rhonda Truitt,F,Marieh Delfino,38.0
318591,23124260,2016,The Creeper,M,Jonathan Breck,51.0
318590,23124260,2016,Jack Taggart Jr.,M,Luke Edwards,36.0
318589,23124260,2016,Jack Taggart Sr.,M,Ray Wise,68.0
318588,23124260,2016,Trish Jenner,F,Gina Philips,46.0

In [36]:
## delete rows where actor's age is negative because that can't be right
char_data = char_data[char_data.actor_age > 0]
char_data

,film_id,film_release_date,char_name,actor_gender,actor_name,actor_age
132703,5954041,1908,Dorothy Gale,F,Romola Remus,8.0
280213,73413,1909,Farmer's Little Daughter,F,Gladys Egan,4.0
26342,6735825,1909,The Catholic's Child,F,Edith Haldeman,4.0
383795,4210812,1910,Dorothy Gale,F,Bebe Daniels,9.0
47438,7253379,1911,"George IV, The Child King",F,Marie Eline,9.0
180359,7253646,1911,The Little Daughter,F,Marie Eline,9.0
445290,7253406,1911,The Youngster,F,Marie Eline,9.0
387696,7257285,1912,The Poor Couple's Daughter,F,Marie Eline,10.0
266245,24463054,1912,Little Trixie Thompson,F,Magda Foy,6.0
326127,7259226,1912,The Child,F,Helen Badgley,3.0
354268,19236804,1912,Nicola,F,Helene Costello,6.0
221295,7225922,1912,Pepita - the Street Singer,F,Adelaide Lawrence,7.0
327602,9200786,1913,Anna Carney,F,Adelaide Lawrence,8.0
195687,5384890,1914,"Button-Bright, who is lost and doesn't care",F,Mildred Harris,12.0
405482,7422491,1914,"Frank, son of Mary and Walter, age 5",M,Albert Cavens,7.0
97902,22643138,1915,Gonda Berna,M,Martijn de Vries,2.0
334089,14090753,1915,Little Sister,F,Doris Baker,7.0
101478,13434802,1915,The Widow's Little Daughter,F,Zoe Rae,4.0
97903,22643138,1915,Gonda Berna,F,Hesje de Vries,6.0
30122,19200197,1916,Mary Lane,F,Mary Miles Minter,13.0
180109,19200075,1916,Dimples,F,Mary Miles Minter,13.0
297405,19199996,1916,Nell Drogan,F,Mary Miles Minter,13.0
416332,8049439,1916,Dulcie,F,Mary Miles Minter,14.0
159011,20198133,1916,Child,M,Ettore Casarotti,4.0
354349,4765789,1916,One of the Children,F,Ethelmary Oakland,7.0
127964,22643149,1916,Jonge Francis,F,Lily Bouwmeester,14.0
293771,18178898,1916,Drummond Child,F,Kittens Reichert,6.0
395509,14853477,1916,The Baby,F,Baby Spofford,1.0
251835,22643186,1916,One of Alda's children,F,Renee Spiljar,3.0
396643,22643195,1917,Lilly Vogel,F,Lily Bouwmeester,15.0
...,...,...,...,...,...,...
202181,35627063,2013,Gutsy Smurf,M,Alan Cumming,48.0
202184,35627063,2013,Blackout,M,Brandon T. Jackson,29.0
202185,35627063,2013,Hackus,M,J. B. Smoove,48.0
202186,35627063,2013,Flack,M,Lil Wayne,30.0
253367,32857390,2013,Miranda Prague,F,Michelle Trachtenberg,27.0
202179,35627063,2013,Vladamir,M,Christopher Mintz-Plasse,24.0
202178,35627063,2013,Clumsy Smurf,M,Anton Yelchin,24.0
202177,35627063,2013,Vexy,F,Christina Ricci,33.0
222956,36534974,2014,Young Noah,M,Dakota Goyo,14.0
222954,36534974,2014,Methuselah,M,Anthony Hopkins,76.0
222953,36534974,2014,Naameh,F,Jennifer Connelly,43.0
222952,36534974,2014,Ham,M,Logan Lerman,22.0
222951,36534974,2014,Shem,M,Douglas Booth,21.0
222949,36534974,2014,Noah,M,Russell Crowe,49.0
222948,36534974,2014,Ila,F,Emma Watson,23.0
222959,36534974,2014,Na'el,F,Madison Davenport,17.0
222960,36534974,2014,Poacher Leader,M,Barry Sloane,33.0
90170,32416903,2015,Varun Nayak,M,Aftab Shivdasani,36.0
111581,2312141,2015,KARR,M,Peter Cullen,73.0
111582,2312141,2015,KITT,M,William Daniels,87.0
263067,25813358,2015,Neytiri,F,Zoe Saldana,36.0
111583,2312141,2015,Michael Knight,M,David Hasselhoff,62.0
111584,2312141,2015,Michael Knight's son,M,Orlando Bloom,37.0
90175,32416903,2015,Kabir Nayak,M,Sanjay Dutt,55.0
263065,25813358,2015,Dr. Grace Augustine,F,Sigourney Weaver,65.0
318592,23124260,2016,Rhonda Truitt,F,Marieh Delfino,38.0
318591,23124260,2016,The Creeper,M,Jonathan Breck,51.0
318590,23124260,2016,Jack Taggart Jr.,M,Luke Edwards,36.0
318589,23124260,2016,Jack Taggart Sr.,M,Ray Wise,68.0
318588,23124260,2016,Trish Jenner,F,Gina Philips,46.0

In [37]:
## save clean data to csv
char_data.to_csv("char_data_clean.csv")