In [1]:
import pandas as pd

In [65]:
num_map = dict()
for number in range(26):
    num_map[number] = chr(ord('A')+number)
print(num_map)

{0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G', 7: 'H', 8: 'I', 9: 'J', 10: 'K', 11: 'L', 12: 'M', 13: 'N', 14: 'O', 15: 'P', 16: 'Q', 17: 'R', 18: 'S', 19: 'T', 20: 'U', 21: 'V', 22: 'W', 23: 'X', 24: 'Y', 25: 'Z'}

In [66]:
def anonymize(feat_name, letters=True):
    feat_set = {v for v in df[feat_name] if v == v}
    print(feat_name, len(feat_set))
    
    feat_map = dict()
    for i, j in enumerate(feat_set):
        if letters:
            feat_map[j] = num_map[i]
        else:
            feat_map[j] = i
        
    df[feat_name] = df[feat_name].map(feat_map)

In [67]:
df = pd.read_excel("anonymized_data.xlsx")

In [68]:
for feat in ["feat_12", "feat_13", "feat_18", "feat_19"]:
    anonymize(feat)

feat_12 2
feat_13 11
feat_18 1
feat_19 5

In [70]:
anonymize("feat_16", False)

feat_16 67

In [71]:
df.head()

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,feat_11,feat_12,feat_13,feat_14,feat_15,feat_16,feat_17,feat_18,feat_19,feat_20
0,1.0,1.0,1.0,1.0,0,0.0,1.0,1.0,0.0,0.0,26.0,A,J,no,no,41.0,no,A,B,NO
1,1.0,1.0,0.0,1.0,0,0.0,0.0,1.0,0.0,1.0,24.0,B,D,no,yes,12.0,no,A,B,NO
2,1.0,1.0,0.0,1.0,1,0.0,1.0,1.0,1.0,1.0,27.0,B,D,yes,yes,24.0,no,A,A,YES
3,1.0,1.0,0.0,1.0,0,0.0,1.0,1.0,0.0,1.0,35.0,A,J,no,yes,41.0,no,A,B,NO
4,1.0,0.0,0.0,0.0,0,0.0,0.0,1.0,0.0,0.0,40.0,A,NaN,no,no,63.0,no,A,NaN,NO

In [72]:
df.to_csv("anonymized_data.csv")