In [1]:
import csv
import pandas as pd
import statistics as stats
import re

In [ ]:
with open("plot_summaries.txt") as f:
    summaries = f.readlines()

In [3]:
print(type(summaries[0]))

<class 'str'>

In [5]:
summary_word_lengths = [len(text.split()) for text in summaries]

In [6]:
def get_averages(text):
    mean = stats.mean(text)
    median = stats.median(text)
    mode = stats.mode(text)
    grouped = stats.median_grouped(text)
    return {'mean': mean, 'median' : median, 'mode' : mode, 'median grouped' : grouped}

In [7]:
averages = get_averages(summary_word_lengths)
averages

{'mean': 311.7183614617312,
 'median': 188.0,
 'median grouped': 187.68072289156626,
 'mode': 66}

In [8]:
text = []
counts = []
for i in range(len(summaries)):
    if 300 < summary_word_lengths[i] < 400:
        text.append(summaries[i])
        counts.append(summary_word_lengths[i])
        
get_averages(counts)

{'mean': 348.2699631449631,
 'median': 347.0,
 'median grouped': 347.1774193548387,
 'mode': 327}

In [6]:
## read in original metadata
char_data = pd.DataFrame.from_csv('character.metadata.tsv', sep='\t', header = None, index_col = None)
film_data = pd.DataFrame.from_csv('movie.metadata.tsv', sep = '\t', header = None, index_col = None)

In [ ]:
char_data.rename(columns = {0:"film_id"})
char_data[char_data.film_id.isin([9031450])]

In [31]:
## drop irrelevant columns and rows with NaN
char_data = char_data.drop([1,4,6,7,10,11,12], axis = 1)
char_data = char_data.dropna()
len(char_data.index)

133378

In [58]:
film_data = film_data.drop([1,4,5,8], axis = 1)
film_data = film_data.dropna()
len(film_data.index)

74839

In [32]:
## function to convert film release dates to year only
def get_film_year(string):
    try:
        year = re.search(r"\d{4}",string)
        return year[0]
    except TypeError:
        pass

In [33]:
## relabel columns with more useful mames
char_data.rename(columns = {0:"film_id", 2:"film_release_date", 3:"char_name",5:"actor_gender",8:"actor_name",9:"actor_age"}, inplace = True)

In [ ]:
## convert film release dates to years
char_data["film_release_date"] = char_data["film_release_date"].apply(get_film_year)
char_data

In [35]:
char_data = char_data.sort_values(by = "film_release_date")
len(char_data.index)

133378

In [36]:
## delete rows where actor's age is negative because that can't be right
char_data = char_data[char_data.actor_age > 0]
char_data

,film_id,film_release_date,char_name,actor_gender,actor_name,actor_age
132703,5954041,1908,Dorothy Gale,F,Romola Remus,8.0
280213,73413,1909,Farmer's Little Daughter,F,Gladys Egan,4.0
26342,6735825,1909,The Catholic's Child,F,Edith Haldeman,4.0
383795,4210812,1910,Dorothy Gale,F,Bebe Daniels,9.0
47438,7253379,1911,"George IV, The Child King",F,Marie Eline,9.0
180359,7253646,1911,The Little Daughter,F,Marie Eline,9.0
445290,7253406,1911,The Youngster,F,Marie Eline,9.0
387696,7257285,1912,The Poor Couple's Daughter,F,Marie Eline,10.0
266245,24463054,1912,Little Trixie Thompson,F,Magda Foy,6.0
326127,7259226,1912,The Child,F,Helen Badgley,3.0
354268,19236804,1912,Nicola,F,Helene Costello,6.0
221295,7225922,1912,Pepita - the Street Singer,F,Adelaide Lawrence,7.0
327602,9200786,1913,Anna Carney,F,Adelaide Lawrence,8.0
195687,5384890,1914,"Button-Bright, who is lost and doesn't care",F,Mildred Harris,12.0
405482,7422491,1914,"Frank, son of Mary and Walter, age 5",M,Albert Cavens,7.0
97902,22643138,1915,Gonda Berna,M,Martijn de Vries,2.0
334089,14090753,1915,Little Sister,F,Doris Baker,7.0
101478,13434802,1915,The Widow's Little Daughter,F,Zoe Rae,4.0
97903,22643138,1915,Gonda Berna,F,Hesje de Vries,6.0
30122,19200197,1916,Mary Lane,F,Mary Miles Minter,13.0
180109,19200075,1916,Dimples,F,Mary Miles Minter,13.0
297405,19199996,1916,Nell Drogan,F,Mary Miles Minter,13.0
416332,8049439,1916,Dulcie,F,Mary Miles Minter,14.0
159011,20198133,1916,Child,M,Ettore Casarotti,4.0
354349,4765789,1916,One of the Children,F,Ethelmary Oakland,7.0
127964,22643149,1916,Jonge Francis,F,Lily Bouwmeester,14.0
293771,18178898,1916,Drummond Child,F,Kittens Reichert,6.0
395509,14853477,1916,The Baby,F,Baby Spofford,1.0
251835,22643186,1916,One of Alda's children,F,Renee Spiljar,3.0
396643,22643195,1917,Lilly Vogel,F,Lily Bouwmeester,15.0
...,...,...,...,...,...,...
202181,35627063,2013,Gutsy Smurf,M,Alan Cumming,48.0
202184,35627063,2013,Blackout,M,Brandon T. Jackson,29.0
202185,35627063,2013,Hackus,M,J. B. Smoove,48.0
202186,35627063,2013,Flack,M,Lil Wayne,30.0
253367,32857390,2013,Miranda Prague,F,Michelle Trachtenberg,27.0
202179,35627063,2013,Vladamir,M,Christopher Mintz-Plasse,24.0
202178,35627063,2013,Clumsy Smurf,M,Anton Yelchin,24.0
202177,35627063,2013,Vexy,F,Christina Ricci,33.0
222956,36534974,2014,Young Noah,M,Dakota Goyo,14.0
222954,36534974,2014,Methuselah,M,Anthony Hopkins,76.0
222953,36534974,2014,Naameh,F,Jennifer Connelly,43.0
222952,36534974,2014,Ham,M,Logan Lerman,22.0
222951,36534974,2014,Shem,M,Douglas Booth,21.0
222949,36534974,2014,Noah,M,Russell Crowe,49.0
222948,36534974,2014,Ila,F,Emma Watson,23.0
222959,36534974,2014,Na'el,F,Madison Davenport,17.0
222960,36534974,2014,Poacher Leader,M,Barry Sloane,33.0
90170,32416903,2015,Varun Nayak,M,Aftab Shivdasani,36.0
111581,2312141,2015,KARR,M,Peter Cullen,73.0
111582,2312141,2015,KITT,M,William Daniels,87.0
263067,25813358,2015,Neytiri,F,Zoe Saldana,36.0
111583,2312141,2015,Michael Knight,M,David Hasselhoff,62.0
111584,2312141,2015,Michael Knight's son,M,Orlando Bloom,37.0
90175,32416903,2015,Kabir Nayak,M,Sanjay Dutt,55.0
263065,25813358,2015,Dr. Grace Augustine,F,Sigourney Weaver,65.0
318592,23124260,2016,Rhonda Truitt,F,Marieh Delfino,38.0
318591,23124260,2016,The Creeper,M,Jonathan Breck,51.0
318590,23124260,2016,Jack Taggart Jr.,M,Luke Edwards,36.0
318589,23124260,2016,Jack Taggart Sr.,M,Ray Wise,68.0
318588,23124260,2016,Trish Jenner,F,Gina Philips,46.0

In [37]:
## save clean data to csv
char_data.to_csv("char_data_clean.csv")